* {
    box-sizing: border-box;
    font-size: 11pt;
    margin: 0px auto;
    max-width: 44em;
}

body {
    align-items: center;
    display: flex;
    font: .8rem/1rem Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    justify-content: center;
    font-size: 11pt;
    margin: 0px auto;
    color: #fff;
    background: #000;
}

.item {
    margin: 0 1rem;
}


p {
    margin: 0;
    line-height: 1;
}

a {
    color: #5d9;
}

#header,
#footer {
    color: #5d9;
    background: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* Roboto Mono', Verdana, Geneva, Tahoma, sans-serif; */
    padding: 0.4rem 0.8rem;
    width: 960px;
}

#header {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

#footer {
    margin-top: 2rem;
    line-height: 1.2rem;
}

#header h1 {
    margin: 0;
}

#header h1 a {
    font-size: 14pt;
    color: #fff;
    text-decoration: none;
}

/*
nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    padding: 0 0 0 0.8rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}*/

#main {
    background-color: #000000;
    width: 960px;
}

.item__urls {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* 'Roboto Mono', Verdana, Geneva, Tahoma, sans-serif; */
}

a:link {
    color: #5d9;
}

a:visited {
    color: #d95;
}

.item__siteurl,
.item__siteurl>*,
.item__count {
    color: #b9f;
    font-size: .7rem;
    text-decoration: none;
}

.item__meta {
    font-size: .6rem;
    margin-top: 0;
}

.item__meta>* {
    color: #828282;
    margin-right: .5rem;
}

.item__count {
    margin: 0 0 0 0.5rem;
}

ul.pagination {
    display: flex;
    list-style: list-item;
}

ul.pagination li {
    margin: 0 .4rem 0 0;
    ;
}

ul.pagination li a {
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    display: block;
    padding: 0.3rem;
    text-align: center;
    text-decoration: none;
    width: 32px;
}

ul.pagination li.active a {
    border-color: orange;
}

.single {
    padding: 1rem;
    margin: auto 3%;
}

.single h1 {
    color: #fff;
    font-size: 20px;
    margin-top: .5rem;
    margin-bottom: 2rem;
    line-height: 1.8rem;
}

.single h2 {
    color: #EDDA45;
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.single h3 {
    color: #EDDA45;
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.single p {
    line-height: 1.2;
    margin: 1rem auto;
}


.single code {
    color: #ff0;
    font-family: monospace;
    font-size: 10pt;
}

.single li {
    margin: .5rem auto;
}

@media (max-width: 960px) {

    #header,
    #main,
    #footer {
        width: 100%;
    }
}