{{ partial "header.html" . }}
{{ $start := add (sub (mul .Paginator.PageSize .Paginator.PageNumber) .Paginator.PageSize) 1 }}
<ul start={{ $start }}>
    {{ range .Paginator.Pages }}
    {{ $site := urls.Parse .Params.ItemUrl }}
    <li class="item">
        <p class="item__urls"><a href="{{ .Params.ItemUrl }}">{{ .Title }}</a> </p>
        <!--         <p class="item__meta">
            {{ partial "age.html" . }}
            {{ range .Params.tags }}
            <a class="item__tag" href="/tags/{{- replace . " " "-" -}}">{{- . -}}</a>
            {{- end }}
            <a class="item__notes" href="{{ .Permalink }}">notes</a>
        </p> -->
    </li>
    {{ end }}
</ul>
{{ template "_internal/pagination.html" . }}
{{ partial "footer.html" . }}